@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/ubuntu-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/ubuntu-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/ubuntu-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/ubuntu-v20-latin_cyrillic-700.woff") format("woff");
}

body {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/*  Header */

.header {
  padding: 0 79px;
  width: 100%;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Ubuntu";
  font-style: normal;
  color: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  transition: 100ms ease-in-out;
}

.title:hover {
  color: #3cb878;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-items {
  padding-right: 27px;
  border-right: 1px solid rgba(255, 255, 255, 0.45);
  display: flex;
  align-items: center;
}

.compass,
.mail {
  margin-left: 27px;
}

.compass {
  width: 23px;
  height: 24px;
  background-image: url(../icons/compass.svg);
  transition: 100ms ease-in-out;
}

.compass:hover {
  background-image: url(../icons/compass_hover.svg);
}

.mail {
  width: 23px;
  height: 23px;
  background-image: url(../icons/mail.svg);
  transition: 100ms ease-in-out;
}

.mail:hover {
  background-image: url(../icons/mail_hover.svg);
}

.calendar {
  width: 21px;
  height: 24px;
  background-image: url(../icons/calendar.svg);
  transition: 100ms ease-in-out;
}

.calendar:hover {
  background-image: url(../icons/calendar_hover.svg);
}

.nav-links {
  padding-left: 27px;
  font-weight: 400;
  font-size: 14px;
}

.login,
.signup {
  transition: 100ms ease-in-out;
}

.login:hover,
.signup:hover {
  color: #3cb878;
}

/*  Main */

.main {
  position: relative;
  padding-top: 31px;
  padding-bottom: 38px;
  margin: 0 auto;
  width: 444px;
  background-color: white;
  font-family: "Ubuntu";
  top: 50%;
  transform: translateY(-60%);
}

.content-wrapper {
  width: 324px;
  margin: 0 auto;
}

.switch-login {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sign-up {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #434343;
}

.log-in {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3cb878;
  transition: 100ms ease-in-out;
}

.log-in:hover {
  color: #01813f;
  text-decoration: underline;
}

.social-login {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.facebook {
  padding: 12px 0;
  width: 160px;
  background: #305db8;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.image__wrapper-facebook {
  padding: 0 17px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.facebook-title {
  padding-left: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.google {
  padding: 15px 0;
  width: 160px;
  background: #df4a32;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.image__wrapper-google {
  padding: 0 7px 0 12px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.google-title {
  padding-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

fieldset {
  margin-top: 31px;
  width: 100%;
  border-top: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

legend {
  text-align: center;
}

.first-name {
  padding: 15px 0 15px 20px;
  margin-top: 12px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  transition: 100ms ease-in-out;
}

.first-name::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bebebe;
}

.first-name:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.last-name {
  padding: 15px 0 15px 20px;
  margin-top: 12px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  transition: 100ms ease-in-out;
}

.last-name::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bebebe;
}

.last-name:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.email {
  padding: 15px 0 15px 20px;
  margin-top: 12px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  transition: 100ms ease-in-out;
}

.email::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bebebe;
}

.email:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.choose-password {
  padding: 15px 0 15px 20px;
  margin-top: 12px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  transition: 100ms ease-in-out;
}

.choose-password::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bebebe;
}

.choose-password:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.confirm-password {
  padding: 15px 0 15px 20px;
  margin-top: 12px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  transition: 100ms ease-in-out;
}

.confirm-password::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bebebe;
}

.confirm-password:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.condtions {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.terms {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.terms + label {
  display: flex;
  align-items: center;
}

.terms + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../icons/unchecked.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.terms:checked + label::before {
  background-image: url(../icons/checked.png);
}

.terms-cond {
  margin-left: 11px;
}

.terms-cond a {
  transition: 100ms ease-in-out;
}

.terms-cond a:hover {
  color: #01813f;
  text-decoration: underline;
}

button {
  margin-top: 20px;
  padding: 15px 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  transition: 100ms ease-in-out;
}

button:hover {
  background: #01813f;
}

.cube {
  position: absolute;
  top: 29px;
  left: 0;
  width: 18px;
  height: 18px;
  background: #3cb878;
}
